/*
	File:		BM Site Stylesheet
	Depends on:	Bootstrap
	-
	Author:		Ben Mullan 202{2,6}
*/

html, body { font-family: Inconsolata Variable Weight,Consolas,Courier New; margin: 0; padding: 0; }

/* zoom out to 85% */
body {
    zoom: 0.85;
    min-height: 100vh;
}

html { overflow-x: hidden; }

.site-title { color: #585858; font-weight: bold; }
.site-heading { color: #585858; font-weight: bold; }
.site-subheading { color: #585858; }

a { color: #0080FF; }

/* Makes the ProjectBoxes (Bootstrap Image Cards) the same height */
.card-img-top {
	width: 100%;
	height: 10vw;
	object-fit: cover;
}